<a href="https://colab.research.google.com/github/MatiasHerrneder/bdm-2025/blob/main/TP02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Exploracion

In [ ]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/bdm-unlu/2025/main/TPs/TP02/API_4_DS2_en_csv_v2_3434744.csv')

pd.set_option('display.max_colwidth', None)
pd.set_option('display.max_columns', None)
display(df.head())

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,Unnamed: 68
0,Aruba,ABW,Population ages 15-64 (% of total population),SP.POP.1564.TO.ZS,54.495678,54.588701,54.585630,54.674206,54.873448,55.181477,55.577200,56.086456,56.645732,57.158267,57.663709,58.188604,58.850065,59.685339,60.593894,61.487594,62.403889,63.277774,63.974376,64.518756,64.875977,64.899742,64.894797,65.071526,65.287614,65.633239,66.101498,66.590380,66.984292,67.088265,66.686196,65.78451,65.537850,66.147043,66.803194,67.585334,68.378936,68.963327,69.359256,69.619648,69.825254,69.970945,70.070058,70.196654,70.338199,70.357101,70.218552,70.037298,69.842136,69.650849,69.641674,69.794053,69.859418,69.795393,69.620827,69.352325,69.027743,68.681269,68.320569,67.962515,67.712003,67.657094,67.617079,67.432276,NaN
1,Aruba,ABW,Population ages 0-14 (% of total population),SP.POP.0014.TO.ZS,43.131043,42.949419,42.852732,42.661157,42.359159,41.936664,41.406296,40.725620,39.949219,39.193494,38.428092,37.618695,36.690709,35.615804,34.472533,33.349804,32.185317,31.056446,30.139460,29.423765,28.924060,28.696687,28.483269,28.180205,27.901269,27.534973,27.059161,26.527541,26.081313,26.005682,26.559278,27.69657,28.102406,27.524185,26.846963,26.009085,25.148898,24.479587,23.978425,23.608505,23.255631,22.879464,22.504113,22.102782,21.668921,21.357810,21.240188,21.183113,21.130454,21.051385,20.748643,20.225002,19.737248,19.348756,19.045505,18.799607,18.571721,18.334859,18.069771,17.767339,17.351022,16.799407,16.240782,15.711772,NaN
2,Aruba,ABW,"Unemployment, total (% of total labor force) (modeled ILO estimate)",SL.UEM.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Aruba,ABW,"Unemployment, male (% of male labor force) (modeled ILO estimate)",SL.UEM.TOTL.MA.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Aruba,ABW,"Unemployment, female (% of female labor force) (modeled ILO estimate)",SL.UEM.TOTL.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
indicator_counts_with_names = df.groupby(['Indicator Code', 'Indicator Name']).size().reset_index(name='count')
display(indicator_counts_with_names)

,Indicator Code,Indicator Name,count
0,SE.ADT.1524.LT.FE.ZS,"Literacy rate, youth female (% of females ages 15-24)",266
1,SE.ADT.1524.LT.FM.ZS,"Literacy rate, youth (ages 15-24), gender parity index (GPI)",266
2,SE.ADT.1524.LT.MA.ZS,"Literacy rate, youth male (% of males ages 15-24)",266
3,SE.ADT.1524.LT.ZS,"Literacy rate, youth total (% of people ages 15-24)",266
4,SE.ADT.LITR.FE.ZS,"Literacy rate, adult female (% of females ages 15 and above)",266
5,SE.ADT.LITR.MA.ZS,"Literacy rate, adult male (% of males ages 15 and above)",266
6,SE.ADT.LITR.ZS,"Literacy rate, adult total (% of people ages 15 and above)",266
7,SE.COM.DURS,"Compulsory education, duration (years)",266
8,SE.ENR.PRIM.FM.ZS,"School enrollment, primary (gross), gender parity index (GPI)",266
9,SE.ENR.PRSC.FM.ZS,"School enrollment, primary and secondary (gross), gender parity index (GPI)",266
10,SE.ENR.SECO.FM.ZS,"School enrollment, secondary (gross), gender parity index (GPI)",266
11,SE.ENR.TERT.FM.ZS,"School enrollment, tertiary (gross), gender parity index (GPI)",266
12,SE.LPV.PRIM.FE,Learning poverty: Share of Female Children at the End-of-Primary age below minimum reading proficiency adjusted by Out-of-School Children (%),266
13,SE.LPV.PRIM.MA,Learning poverty: Share of Male Children at the End-of-Primary age below minimum reading proficiency adjusted by Out-of-School Children (%),266
14,SE.PRE.DURS,"Preprimary education, duration (years)",266
15,SE.PRE.ENRL.TC.ZS,"Pupil-teacher ratio, preprimary",266
16,SE.PRE.ENRR,"School enrollment, preprimary (% gross)",266
17,SE.PRE.ENRR.FE,"School enrollment, preprimary, female (% gross)",266
18,SE.PRE.ENRR.MA,"School enrollment, preprimary, male (% gross)",266
19,SE.PRE.TCAQ.FE.ZS,"Trained teachers in preprimary education, female (% of female teachers)",266
20,SE.PRE.TCAQ.MA.ZS,"Trained teachers in preprimary education, male (% of male teachers)",266
21,SE.PRE.TCAQ.ZS,Trained teachers in preprimary education (% of total teachers),266
22,SE.PRM.AGES,Primary school starting age (years),266
23,SE.PRM.CMPT.FE.ZS,"Primary completion rate, female (% of relevant age group)",266
24,SE.PRM.CMPT.MA.ZS,"Primary completion rate, male (% of relevant age group)",266
25,SE.PRM.CMPT.ZS,"Primary completion rate, total (% of relevant age group)",266
26,SE.PRM.CUAT.FE.ZS,"Educational attainment, at least completed primary, population 25+ years, female (%) (cumulative)",266
27,SE.PRM.CUAT.MA.ZS,"Educational attainment, at least completed primary, population 25+ years, male (%) (cumulative)",266
28,SE.PRM.CUAT.ZS,"Educational attainment, at least completed primary, population 25+ years, total (%) (cumulative)",266
29,SE.PRM.DURS,"Primary education, duration (years)",266
30,SE.PRM.ENRL,"Primary education, pupils",266
31,SE.PRM.ENRL.FE.ZS,"Primary education, pupils (% female)",266
32,SE.PRM.ENRL.TC.ZS,"Pupil-teacher ratio, primary",266
33,SE.PRM.ENRR,"School enrollment, primary (% gross)",266
34,SE.PRM.ENRR.FE,"School enrollment, primary, female (% gross)",266
35,SE.PRM.ENRR.MA,"School enrollment, primary, male (% gross)",266
36,SE.PRM.GINT.FE.ZS,"Gross intake ratio in first grade of primary education, female (% of relevant age group)",266
37,SE.PRM.GINT.MA.ZS,"Gross intake ratio in first grade of primary education, male (% of relevant age group)",266
38,SE.PRM.GINT.ZS,"Gross intake ratio in first grade of primary education, total (% of relevant age group)",266
39,SE.PRM.NENR,"School enrollment, primary (% net)",266
40,SE.PRM.NENR.FE,"School enrollment, primary, female (% net)",266
41,SE.PRM.NENR.MA,"School enrollment, primary, male (% net)",266
42,SE.PRM.NINT.FE.ZS,"Net intake rate in grade 1, female (% of official school-age population)",266
43,SE.PRM.NINT.MA.ZS,"Net intake rate in grade 1, male (% of official school-age population)",266
44,SE.PRM.NINT.ZS,Net intake rate in grade 1 (% of official school-age population),266
45,SE.PRM.OENR.FE.ZS,"Over-age students, primary, female (% of female enrollment)",266
46,SE.PRM.OENR.MA.ZS,"Over-age students, primary, male (% of male enrollment)",266
47,SE.PRM.OENR.ZS,"Over-age students, primary (% of enrollment)",266
48,SE.PRM.PRIV.ZS,"School enrollment, primary, private (% of total primary)",266
49,SE.PRM.PRS5.FE.ZS,"Persistence to grade 5, female (% of cohort)",266
50,SE.PRM.PRS5.MA.ZS,"Persistence to grade 5, male (% of cohort)",266
51,SE.PRM.PRS5.ZS,"Persistence to grade 5, total (% of cohort)",266
52,SE.PRM.PRSL.FE.ZS,"Persistence to last grade of primary, female (% of cohort)",266
53,SE.PRM.PRSL.MA.ZS,"Persistence to last grade of primary, male (% of cohort)",266
54,SE.PRM.PRSL.ZS,"Persistence to last grade of primary, total (% of cohort)",266
55,SE.PRM.REPT.FE.ZS,"Repeaters, primary, female (% of female enrollment)",266
56,SE.PRM.REPT.MA.ZS,"Repeaters, primary, male (% of male enrollment)",266
57,SE.PRM.REPT.ZS,"Repeaters, primary, total (% of total enrollment)",266
58,SE.PRM.TCAQ.FE.ZS,"Trained teachers in primary education, female (% of female teachers)",266
59,SE.PRM.TCAQ.MA.ZS,"Trained teachers in primary education, male (% of male teachers)",266
60,SE.PRM.TCAQ.ZS,Trained teachers in primary education (% of total teachers),266
61,SE.PRM.TCHR,"Primary education, teachers",266
62,SE.PRM.TCHR.FE.ZS,"Primary education, teachers (% female)",266
63,SE.PRM.TENR,"Adjusted net enrollment rate, primary (% of primary school age children)",266
64,SE.PRM.TENR.FE,"Adjusted net enrollment rate, primary, female (% of primary school age children)",266
65,SE.PRM.TENR.MA,"Adjusted net enrollment rate, primary, male (% of primary school age children)",266
66,SE.PRM.UNER,"Children out of school, primary",266
67,SE.PRM.UNER.FE,"Children out of school, primary, female",266
68,SE.PRM.UNER.FE.ZS,"Children out of school, female (% of female primary school age)",266
69,SE.PRM.UNER.MA,"Children out of school, primary, male",266
70,SE.PRM.UNER.MA.ZS,"Children out of school, male (% of male primary school age)",266
71,SE.PRM.UNER.ZS,Children out of school (% of primary school age),266
72,SE.SEC.AGES,Lower secondary school starting age (years),266
73,SE.SEC.CMPT.LO.FE.ZS,"Lower secondary completion rate, female (% of relevant age group)",266
74,SE.SEC.CMPT.LO.MA.ZS,"Lower secondary completion rate, male (% of relevant age group)",266
75,SE.SEC.CMPT.LO.ZS,"Lower secondary completion rate, total (% of relevant age group)",266
76,SE.SEC.CUAT.LO.FE.ZS,"Educational attainment, at least completed lower secondary, population 25+, female (%) (cumulative)",266
77,SE.SEC.CUAT.LO.MA.ZS,"Educational attainment, at least completed lower secondary, population 25+, male (%) (cumulative)",266
78,SE.SEC.CUAT.LO.ZS,"Educational attainment, at least completed lower secondary, population 25+, total (%) (cumulative)",266
79,SE.SEC.CUAT.PO.FE.ZS,"Educational attainment, at least completed post-secondary, population 25+, female (%) (cumulative)",266
80,SE.SEC.CUAT.PO.MA.ZS,"Educational attainment, at least completed post-secondary, population 25+, male (%) (cumulative)",266
81,SE.SEC.CUAT.PO.ZS,"Educational attainment, at least completed post-secondary, population 25+, total (%) (cumulative)",266
82,SE.SEC.CUAT.UP.FE.ZS,"Educational attainment, at least completed upper secondary, population 25+, female (%) (cumulative)",266
83,SE.SEC.CUAT.UP.MA.ZS,"Educational attainment, at least completed upper secondary, population 25+, male (%) (cumulative)",266
84,SE.SEC.CUAT.UP.ZS,"Educational attainment, at least completed upper secondary, population 25+, total (%) (cumulative)",266
85,SE.SEC.DURS,"Secondary education, duration (years)",266
86,SE.SEC.ENRL,"Secondary education, pupils",266
87,SE.SEC.ENRL.FE.ZS,"Secondary education, pupils (% female)",266
88,SE.SEC.ENRL.GC,"Secondary education, general pupils",266
89,SE.SEC.ENRL.GC.FE.ZS,"Secondary education, general pupils (% female)",266
90,SE.SEC.ENRL.LO.TC.ZS,"Pupil-teacher ratio, lower secondary",266
91,SE.SEC.ENRL.TC.ZS,"Pupil-teacher ratio, secondary",266
92,SE.SEC.ENRL.UP.TC.ZS,"Pupil-teacher ratio, upper secondary",266
93,SE.SEC.ENRL.VO,"Secondary education, vocational pupils",266
94,SE.SEC.ENRL.VO.FE.ZS,"Secondary education, vocational pupils (% female)",266
95,SE.SEC.ENRR,"School enrollment, secondary (% gross)",266
96,SE.SEC.ENRR.FE,"School enrollment, secondary, female (% gross)",266
97,SE.SEC.ENRR.MA,"School enrollment, secondary, male (% gross)",266
98,SE.SEC.NENR,"School enrollment, secondary (% net)",266
99,SE.SEC.NENR.FE,"School enrollment, secondary, female (% net)",266
100,SE.SEC.NENR.MA,"School enrollment, secondary, male (% net)",266
101,SE.SEC.PRIV.ZS,"School enrollment, secondary, private (% of total secondary)",266
102,SE.SEC.PROG.FE.ZS,"Progression to secondary school, female (%)",266
103,SE.SEC.PROG.MA.ZS,"Progression to secondary school, male (%)",266
104,SE.SEC.PROG.ZS,Progression to secondary school (%),266
105,SE.SEC.TCAQ.FE.ZS,"Trained teachers in secondary education, female (% of female teachers)",266
106,SE.SEC.TCAQ.LO.FE.ZS,"Trained teachers in lower secondary education, female (% of female teachers)",266
107,SE.SEC.TCAQ.LO.MA.ZS,"Trained teachers in lower secondary education, male (% of male teachers)",266
108,SE.SEC.TCAQ.LO.ZS,Trained teachers in lower secondary education (% of total teachers),266
109,SE.SEC.TCAQ.MA.ZS,"Trained teachers in secondary education, male (% of male teachers)",266
110,SE.SEC.TCAQ.UP.FE.ZS,"Trained teachers in upper secondary education, female (% of female teachers)",266
111,SE.SEC.TCAQ.UP.MA.ZS,"Trained teachers in upper secondary education, male (% of male teachers)",266
112,SE.SEC.TCAQ.UP.ZS,Trained teachers in upper secondary education (% of total teachers),266
113,SE.SEC.TCAQ.ZS,Trained teachers in secondary education (% of total teachers),266
114,SE.SEC.TCHR,"Secondary education, teachers",266
115,SE.SEC.TCHR.FE,"Secondary education, teachers, female",266
116,SE.SEC.TCHR.FE.ZS,"Secondary education, teachers (% female)",266
117,SE.SEC.UNER.LO.FE.ZS,"Adolescents out of school, female (% of female lower secondary school age)",266
118,SE.SEC.UNER.LO.MA.ZS,"Adolescents out of school, male (% of male lower secondary school age)",266
119,SE.SEC.UNER.LO.ZS,Adolescents out of school (% of lower secondary school age),266
120,SE.TER.CUAT.BA.FE.ZS,"Educational attainment, at least Bachelor's or equivalent, population 25+, female (%) (cumulative)",266
121,SE.TER.CUAT.BA.MA.ZS,"Educational attainment, at least Bachelor's or equivalent, population 25+, male (%) (cumulative)",266
122,SE.TER.CUAT.BA.ZS,"Educational attainment, at least Bachelor's or equivalent, population 25+, total (%) (cumulative)",266
123,SE.TER.CUAT.DO.FE.ZS,"Educational attainment, Doctoral or equivalent, population 25+, female (%) (cumulative)",266
124,SE.TER.CUAT.DO.MA.ZS,"Educational attainment, Doctoral or equivalent, population 25+, male (%) (cumulative)",266
125,SE.TER.CUAT.DO.ZS,"Educational attainment, Doctoral or equivalent, population 25+, total (%) (cumulative)",266
126,SE.TER.CUAT.MS.FE.ZS,"Educational attainment, at least Master's or equivalent, population 25+, female (%) (cumulative)",266
127,SE.TER.CUAT.MS.MA.ZS,"Educational attainment, at least Master's or equivalent, population 25+, male (%) (cumulative)",266
128,SE.TER.CUAT.MS.ZS,"Educational attainment, at least Master's or equivalent, population 25+, total (%) (cumulative)",266
129,SE.TER.CUAT.ST.FE.ZS,"Educational attainment, at least completed short-cycle tertiary, population 25+, female (%) (cumulative)",266
130,SE.TER.CUAT.ST.MA.ZS,"Educational attainment, at least completed short-cycle tertiary, population 25+, male (%) (cumulative)",266
131,SE.TER.CUAT.ST.ZS,"Educational attainment, at least completed short-cycle tertiary, population 25+, total (%) (cumulative)",266
132,SE.TER.ENRL.TC.ZS,"Pupil-teacher ratio, tertiary",266
133,SE.TER.ENRR,"School enrollment, tertiary (% gross)",266
134,SE.TER.ENRR.FE,"School enrollment, tertiary, female (% gross)",266
135,SE.TER.ENRR.MA,"School enrollment, tertiary, male (% gross)",266
136,SE.TER.TCHR.FE.ZS,"Tertiary education, academic staff (% female)",266
137,SE.XPD.CPRM.ZS,"Current education expenditure, primary (% of total expenditure in primary public institutions)",266
138,SE.XPD.CSEC.ZS,"Current education expenditure, secondary (% of total expenditure in secondary public institutions)",266
139,SE.XPD.CTER.ZS,"Current education expenditure, tertiary (% of total expenditure in tertiary public institutions)",266
140,SE.XPD.CTOT.ZS,"Current education expenditure, total (% of total expenditure in public institutions)",266
141,SE.XPD.PRIM.PC.ZS,"Government expenditure per student, primary (% of GDP per capita)",266
142,SE.XPD.PRIM.ZS,Expenditure on primary education (% of government expenditure on education),266
143,SE.XPD.SECO.PC.ZS,"Government expenditure per student, secondary (% of GDP per capita)",266
144,SE.XPD.SECO.ZS,Expenditure on secondary education (% of government expenditure on education),266
145,SE.XPD.TERT.PC.ZS,"Government expenditure per student, tertiary (% of GDP per capita)",266
146,SE.XPD.TERT.ZS,Expenditure on tertiary education (% of government expenditure on education),266
147,SE.XPD.TOTL.GB.ZS,"Government expenditure on education, total (% of government expenditure)",266
148,SE.XPD.TOTL.GD.ZS,"Government expenditure on education, total (% of GDP)",266
149,SH.DTH.0509,Number of deaths ages 5-9 years,266
150,SH.DTH.1014,Number of deaths ages 10-14 years,266
151,SH.DTH.1519,Number of deaths ages 15-19 years,266
152,SH.DTH.2024,Number of deaths ages 20-24 years,266
153,SH.DYN.0509,"Probability of dying among children ages 5-9 years (per 1,000)",266
154,SH.DYN.1014,"Probability of dying among adolescents ages 10-14 years (per 1,000)",266
155,SH.DYN.1519,"Probability of dying among adolescents ages 15-19 years (per 1,000)",266
156,SH.DYN.2024,"Probability of dying among youth ages 20-24 years (per 1,000)",266
157,SL.TLF.TOTL.FE.ZS,"Labor force, female (% of total labor force)",266
158,SL.TLF.TOTL.IN,"Labor force, total",266
159,SL.UEM.TOTL.FE.ZS,"Unemployment, female (% of female labor force) (modeled ILO estimate)",266
160,SL.UEM.TOTL.MA.ZS,"Unemployment, male (% of male labor force) (modeled ILO estimate)",266
161,SL.UEM.TOTL.ZS,"Unemployment, total (% of total labor force) (modeled ILO estimate)",266
162,SP.POP.0014.TO.ZS,Population ages 0-14 (% of total population),266
163,SP.POP.1564.TO.ZS,Population ages 15-64 (% of total population),266

In [ ]:
pd.set_option('display.max_rows', None)
country_code_counts = df['Country Code'].value_counts()
display(country_code_counts)

Country Code
ZWE    164
ABW    164
AFE    164
AFG    164
AFW    164
AGO    164
ALB    164
AND    164
ARB    164
ARE    164
UMC    164
UKR    164
UGA    164
TZA    164
TUV    164
TUR    164
TUN    164
TTO    164
TSS    164
TSA    164
TON    164
TMN    164
TLS    164
TLA    164
TKM    164
TJK    164
CIV    164
CHN    164
CHL    164
CHI    164
CHE    164
CEB    164
CAN    164
CAF    164
BWA    164
BTN    164
BRN    164
BRB    164
BRA    164
BOL    164
BMU    164
BLZ    164
DMA    164
DJI    164
DEU    164
CZE    164
CYP    164
CYM    164
CUW    164
CUB    164
CSS    164
CRI    164
CPV    164
COM    164
COL    164
COG    164
COD    164
CMR    164
EUU    164
ETH    164
EST    164
ESP    164
ERI    164
EMU    164
EGY    164
ECU    164
ECS    164
ECA    164
EAS    164
EAR    164
EAP    164
DZA    164
DOM    164
DNK    164
GRC    164
GNQ    164
GNB    164
GMB    164
GIN    164
GIB    164
GHA    164
GEO    164
GBR    164
GAB    164
FSM    164
FRO    164
FRA    164
FJI    164
FIN    164
FCS    164
IDB    164
IDA    164
IBT    164
IBD    164
HUN    164
HTI    164
HRV    164
HPC    164
HND    164
HKG    164
HIC    164
GUY    164
GUM    164
GTM    164
GRL    164
GRD    164
KEN    164
KAZ    164
JPN    164
JOR    164
JAM    164
ITA    164
ISR    164
ISL    164
IRQ    164
IRN    164
IRL    164
INX    164
IND    164
IMN    164
IDX    164
IDN    164
LIE    164
LIC    164
LDC    164
LCN    164
LCA    164
LBY    164
LBR    164
LBN    164
LAO    164
LAC    164
KWT    164
KOR    164
KNA    164
KIR    164
KHM    164
KGZ    164
MEA    164
MDV    164
MDG    164
MDA    164
MCO    164
MAR    164
MAF    164
MAC    164
LVA    164
LUX    164
LTU    164
LTE    164
LSO    164
LMY    164
LMC    164
LKA    164
MYS    164
MWI    164
MUS    164
MRT    164
MOZ    164
MNP    164
MNG    164
MNE    164
MNA    164
MMR    164
MLT    164
MLI    164
MKD    164
MIC    164
MHL    164
MEX    164
PAN    164
PAK    164
OSS    164
OMN    164
OED    164
NZL    164
NRU    164
NPL    164
NOR    164
NLD    164
NIC    164
NGA    164
NER    164
NCL    164
NAM    164
NAC    164
ROU    164
QAT    164
PYF    164
PST    164
PSS    164
PSE    164
PRY    164
PRT    164
PRK    164
PRI    164
PRE    164
POL    164
PNG    164
PLW    164
PHL    164
PER    164
SSF    164
SSD    164
SSA    164
SRB    164
SOM    164
SMR    164
SLV    164
SLE    164
SLB    164
SGP    164
SEN    164
SDN    164
SAU    164
SAS    164
RWA    164
RUS    164
THA    164
TGO    164
TEC    164
TEA    164
TCD    164
TCA    164
SYR    164
SYC    164
SXM    164
SWZ    164
SWE    164
SVN    164
SVK    164
SUR    164
STP    164
SST    164
ARG    164
ZMB    164
ZAF    164
YEM    164
XKX    164
WSM    164
WLD    164
VUT    164
VNM    164
VIR    164
VGB    164
VEN    164
VCT    164
UZB    164
USA    164
URY    164
BLR    164
BIH    164
BHS    164
BHR    164
BGR    164
BGD    164
BFA    164
BEN    164
BEL    164
BDI    164
AZE    164
AUT    164
AUS    164
ATG    164
ASM    164
ARM    164
Name: count, dtype: int64

## CSV Paises

In [ ]:
df_paises = df[['Country Name', 'Country Code']].drop_duplicates().reset_index(drop=True).rename(columns={
    'Country Name': 'Nombre del Pais',
    'Country Code': 'Codigo del Pais'
})

df_paises['ID'] = df_paises.index + 1
df_paises = df_paises[['ID', 'Nombre del Pais', 'Codigo del Pais']]

df_paises.to_csv('country_data_with_id.csv', index=False)

display(df_paises)

      ID                                       Nombre del Pais Codigo del Pais
0      1                                                 Aruba             ABW
1      2                           Africa Eastern and Southern             AFE
2      3                                           Afghanistan             AFG
3      4                            Africa Western and Central             AFW
4      5                                                Angola             AGO
5      6                                               Albania             ALB
6      7                                               Andorra             AND
7      8                                            Arab World             ARB
8      9                                  United Arab Emirates             ARE
9     10                                             Argentina             ARG
10    11                                               Armenia             ARM
11    12                                        American Samoa             ASM
12    13                                   Antigua and Barbuda             ATG
13    14                                             Australia             AUS
14    15                                               Austria             AUT
15    16                                            Azerbaijan             AZE
16    17                                               Burundi             BDI
17    18                                               Belgium             BEL
18    19                                                 Benin             BEN
19    20                                          Burkina Faso             BFA
20    21                                            Bangladesh             BGD
21    22                                              Bulgaria             BGR
22    23                                               Bahrain             BHR
23    24                                          Bahamas, The             BHS
24    25                                Bosnia and Herzegovina             BIH
25    26                                               Belarus             BLR
26    27                                                Belize             BLZ
27    28                                               Bermuda             BMU
28    29                                               Bolivia             BOL
29    30                                                Brazil             BRA
30    31                                              Barbados             BRB
31    32                                     Brunei Darussalam             BRN
32    33                                                Bhutan             BTN
33    34                                              Botswana             BWA
34    35                              Central African Republic             CAF
35    36                                                Canada             CAN
36    37                        Central Europe and the Baltics             CEB
37    38                                           Switzerland             CHE
38    39                                       Channel Islands             CHI
39    40                                                 Chile             CHL
40    41                                                 China             CHN
41    42                                         Cote d'Ivoire             CIV
42    43                                              Cameroon             CMR
43    44                                      Congo, Dem. Rep.             COD
44    45                                           Congo, Rep.             COG
45    46                                              Colombia             COL
46    47                                               Comoros             COM
47    48                                            Cabo Verde             CPV
48    49                                            Costa Rica             CRI
49    50                                Caribbean small states             CSS
50    51                                                  Cuba             CUB
51    52                                               Curacao             CUW
52    53                                        Cayman Islands             CYM
53    54                                                Cyprus             CYP
54    55                                               Czechia             CZE
55    56                                               Germany             DEU
56    57                                              Djibouti             DJI
57    58                                              Dominica             DMA
58    59                                               Denmark             DNK
59    60                                    Dominican Republic             DOM
60    61                                               Algeria             DZA
61    62           East Asia & Pacific (excluding high income)             EAP
62    63                            Early-demographic dividend             EAR
63    64                                   East Asia & Pacific             EAS
64    65         Europe & Central Asia (excluding high income)             ECA
65    66                                 Europe & Central Asia             ECS
66    67                                               Ecuador             ECU
67    68                                      Egypt, Arab Rep.             EGY
68    69                                             Euro area             EMU
69    70                                               Eritrea             ERI
70    71                                                 Spain             ESP
71    72                                               Estonia             EST
72    73                                              Ethiopia             ETH
73    74                                        European Union             EUU
74    75              Fragile and conflict affected situations             FCS
75    76                                               Finland             FIN
76    77                                                  Fiji             FJI
77    78                                                France             FRA
78    79                                         Faroe Islands             FRO
79    80                                 Micronesia, Fed. Sts.             FSM
80    81                                                 Gabon             GAB
81    82                                        United Kingdom             GBR
82    83                                               Georgia             GEO
83    84                                                 Ghana             GHA
84    85                                             Gibraltar             GIB
85    86                                                Guinea             GIN
86    87                                           Gambia, The             GMB
87    88                                         Guinea-Bissau             GNB
88    89                                     Equatorial Guinea             GNQ
89    90                                                Greece             GRC
90    91                                               Grenada             GRD
91    92                                             Greenland             GRL
92    93                                             Guatemala             GTM
93    94                                                  Guam             GUM
94    95                                                Guyana             GUY
95    96                                           High income             HIC
96    97                                  Hong Kong SAR, China             HKG
97    98                                              Honduras             HND
98    99                Heavily indebted poor countries (HIPC)             HPC
99   100                                               Croatia             HRV
100  101                                                 Haiti             HTI
101  102                                               Hungary             HUN
102  103                                             IBRD only             IBD
103  104                                      IDA & IBRD total             IBT
104  105                                             IDA total             IDA
105  106                                             IDA blend             IDB
106  107                                             Indonesia             IDN
107  108                                              IDA only             IDX
108  109                                           Isle of Man             IMN
109  110                                                 India             IND
110  111                                        Not classified             INX
111  112                                               Ireland             IRL
112  113                                    Iran, Islamic Rep.             IRN
113  114                                                  Iraq             IRQ
114  115                                               Iceland             ISL
115  116                                                Israel             ISR
116  117                                                 Italy             ITA
117  118                                               Jamaica             JAM
118  119                                                Jordan             JOR
119  120                                                 Japan             JPN
120  121                                            Kazakhstan             KAZ
121  122                                                 Kenya             KEN
122  123                                       Kyrgyz Republic             KGZ
123  124                                              Cambodia             KHM
124  125                                              Kiribati             KIR
125  126                                   St. Kitts and Nevis             KNA
126  127                                           Korea, Rep.             KOR
127  128                                                Kuwait             KWT
128  129     Latin America & Caribbean (excluding high income)             LAC
129  130                                               Lao PDR             LAO
130  131                                               Lebanon             LBN
131  132                                               Liberia             LBR
132  133                                                 Libya             LBY
133  134                                             St. Lucia             LCA
134  135                             Latin America & Caribbean             LCN
135  136          Least developed countries: UN classification             LDC
136  137                                            Low income             LIC
137  138                                         Liechtenstein             LIE
138  139                                             Sri Lanka             LKA
139  140                                   Lower middle income             LMC
140  141                                   Low & middle income             LMY
141  142                                               Lesotho             LSO
142  143                             Late-demographic dividend             LTE
143  144                                             Lithuania             LTU
144  145                                            Luxembourg             LUX
145  146                                                Latvia             LVA
146  147                                      Macao SAR, China             MAC
147  148                              St. Martin (French part)             MAF
148  149                                               Morocco             MAR
149  150                                                Monaco             MCO
150  151                                               Moldova             MDA
151  152                                            Madagascar             MDG
152  153                                              Maldives             MDV
153  154                            Middle East & North Africa             MEA
154  155                                                Mexico             MEX
155  156                                      Marshall Islands             MHL
156  157                                         Middle income             MIC
157  158                                       North Macedonia             MKD
158  159                                                  Mali             MLI
159  160                                                 Malta             MLT
160  161                                               Myanmar             MMR
161  162    Middle East & North Africa (excluding high income)             MNA
162  163                                            Montenegro             MNE
163  164                                              Mongolia             MNG
164  165                              Northern Mariana Islands             MNP
165  166                                            Mozambique             MOZ
166  167                                            Mauritania             MRT
167  168                                             Mauritius             MUS
168  169                                                Malawi             MWI
169  170                                              Malaysia             MYS
170  171                                         North America             NAC
171  172                                               Namibia             NAM
172  173                                         New Caledonia             NCL
173  174                                                 Niger             NER
174  175                                               Nigeria             NGA
175  176                                             Nicaragua             NIC
176  177                                           Netherlands             NLD
177  178                                                Norway             NOR
178  179                                                 Nepal             NPL
179  180                                                 Nauru             NRU
180  181                                           New Zealand             NZL
181  182                                          OECD members             OED
182  183                                                  Oman             OMN
183  184                                    Other small states             OSS
184  185                                              Pakistan             PAK
185  186                                                Panama             PAN
186  187                                                  Peru             PER
187  188                                           Philippines             PHL
188  189                                                 Palau             PLW
189  190                                      Papua New Guinea             PNG
190  191                                                Poland             POL
191  192                              Pre-demographic dividend             PRE
192  193                                           Puerto Rico             PRI
193  194                             Korea, Dem. People's Rep.             PRK
194  195                                              Portugal             PRT
195  196                                              Paraguay             PRY
196  197                                    West Bank and Gaza             PSE
197  198                           Pacific island small states             PSS
198  199                             Post-demographic dividend             PST
199  200                                      French Polynesia             PYF
200  201                                                 Qatar             QAT
201  202                                               Romania             ROU
202  203                                    Russian Federation             RUS
203  204                                                Rwanda             RWA
204  205                                            South Asia             SAS
205  206                                          Saudi Arabia             SAU
206  207                                                 Sudan             SDN
207  208                                               Senegal             SEN
208  209                                             Singapore             SGP
209  210                                       Solomon Islands             SLB
210  211                                          Sierra Leone             SLE
211  212                                           El Salvador             SLV
212  213                                            San Marino             SMR
213  214                                               Somalia             SOM
214  215                                                Serbia             SRB
215  216            Sub-Saharan Africa (excluding high income)             SSA
216  217                                           South Sudan             SSD
217  218                                    Sub-Saharan Africa             SSF
218  219                                          Small states             SST
219  220                                 Sao Tome and Principe             STP
220  221                                              Suriname             SUR
221  222                                       Slovak Republic             SVK
222  223                                              Slovenia             SVN
223  224                                                Sweden             SWE
224  225                                              Eswatini             SWZ
225  226                             Sint Maarten (Dutch part)             SXM
226  227                                            Seychelles             SYC
227  228                                  Syrian Arab Republic             SYR
228  229                              Turks and Caicos Islands             TCA
229  230                                                  Chad             TCD
230  231            East Asia & Pacific (IDA & IBRD countries)             TEA
231  232          Europe & Central Asia (IDA & IBRD countries)             TEC
232  233                                                  Togo             TGO
233  234                                              Thailand             THA
234  235                                            Tajikistan             TJK
235  236                                          Turkmenistan             TKM
236  237  Latin America & the Caribbean (IDA & IBRD countries)             TLA
237  238                                           Timor-Leste             TLS
238  239     Middle East & North Africa (IDA & IBRD countries)             TMN
239  240                                                 Tonga             TON
240  241                               South Asia (IDA & IBRD)             TSA
241  242             Sub-Saharan Africa (IDA & IBRD countries)             TSS
242  243                                   Trinidad and Tobago             TTO
243  244                                               Tunisia             TUN
244  245                                               Turkiye             TUR
245  246                                                Tuvalu             TUV
246  247                                              Tanzania             TZA
247  248                                                Uganda             UGA
248  249                                               Ukraine             UKR
249  250                                   Upper middle income             UMC
250  251                                               Uruguay             URY
251  252                                         United States             USA

## CSV Preguntas

In [ ]:
import re

# Get unique indicator names
unique_indicators = df['Indicator Name'].drop_duplicates().reset_index(drop=True)

# Function to remove content within parentheses
def remove_parentheses_content(text):
    return re.sub(r'\s*\(.*?\)\s*', '', text).strip()

# Apply the function to create the 'consulta' column
consulta_series = unique_indicators.apply(remove_parentheses_content)

# Create a new DataFrame
df_consulta = pd.DataFrame({'consulta': consulta_series})

# Add an incremental ID
df_consulta['ID'] = df_consulta.index + 1

# Reorder columns
df_consulta = df_consulta[['ID', 'consulta']]

# Save to CSV
df_consulta.to_csv('consulta_data_with_id.csv', index=False)

display(df_consulta)
print("CSV file 'consulta_data_with_id.csv' created successfully.")

,ID,consulta
0,1,Population ages 15-64
1,2,Population ages 0-14
2,3,"Unemployment, total"
3,4,"Unemployment, male"
4,5,"Unemployment, female"
5,6,"Labor force, total"
6,7,"Labor force, female"
7,8,Probability of dying among youth ages 20-24 years
8,9,Probability of dying among adolescents ages 15-19 years
9,10,Probability of dying among adolescents ages 10-14 years
10,11,Probability of dying among children ages 5-9 years
11,12,Number of deaths ages 20-24 years
12,13,Number of deaths ages 15-19 years
13,14,Number of deaths ages 10-14 years
14,15,Number of deaths ages 5-9 years
15,16,"Government expenditure on education, total"
16,17,"Government expenditure on education, total"
17,18,Expenditure on tertiary education
18,19,"Government expenditure per student, tertiary"
19,20,Expenditure on secondary education
20,21,"Government expenditure per student, secondary"
21,22,Expenditure on primary education
22,23,"Government expenditure per student, primary"
23,24,"Current education expenditure, total"
24,25,"Current education expenditure, tertiary"
25,26,"Current education expenditure, secondary"
26,27,"Current education expenditure, primary"
27,28,"Tertiary education, academic staff"
28,29,"School enrollment, tertiary, male"
29,30,"School enrollment, tertiary, female"
30,31,"School enrollment, tertiary"
31,32,"Pupil-teacher ratio, tertiary"
32,33,"Educational attainment, at least completed short-cycle tertiary, population 25+, total"
33,34,"Educational attainment, at least completed short-cycle tertiary, population 25+, male"
34,35,"Educational attainment, at least completed short-cycle tertiary, population 25+, female"
35,36,"Educational attainment, at least Master's or equivalent, population 25+, total"
36,37,"Educational attainment, at least Master's or equivalent, population 25+, male"
37,38,"Educational attainment, at least Master's or equivalent, population 25+, female"
38,39,"Educational attainment, Doctoral or equivalent, population 25+, total"
39,40,"Educational attainment, Doctoral or equivalent, population 25+, male"
40,41,"Educational attainment, Doctoral or equivalent, population 25+, female"
41,42,"Educational attainment, at least Bachelor's or equivalent, population 25+, total"
42,43,"Educational attainment, at least Bachelor's or equivalent, population 25+, male"
43,44,"Educational attainment, at least Bachelor's or equivalent, population 25+, female"
44,45,Adolescents out of school
45,46,"Adolescents out of school, male"
46,47,"Adolescents out of school, female"
47,48,"Secondary education, teachers"
48,49,"Secondary education, teachers, female"
49,50,"Secondary education, teachers"
50,51,Trained teachers in secondary education
51,52,Trained teachers in upper secondary education
52,53,"Trained teachers in upper secondary education, male"
53,54,"Trained teachers in upper secondary education, female"
54,55,"Trained teachers in secondary education, male"
55,56,Trained teachers in lower secondary education
56,57,"Trained teachers in lower secondary education, male"
57,58,"Trained teachers in lower secondary education, female"
58,59,"Trained teachers in secondary education, female"
59,60,Progression to secondary school
60,61,"Progression to secondary school, male"
61,62,"Progression to secondary school, female"
62,63,"School enrollment, secondary, private"
63,64,"School enrollment, secondary, male"
64,65,"School enrollment, secondary, female"
65,66,"School enrollment, secondary"
66,67,"School enrollment, secondary, male"
67,68,"School enrollment, secondary, female"
68,69,"School enrollment, secondary"
69,70,"Secondary education, vocational pupils"
70,71,"Secondary education, vocational pupils"
71,72,"Pupil-teacher ratio, upper secondary"
72,73,"Pupil-teacher ratio, secondary"
73,74,"Pupil-teacher ratio, lower secondary"
74,75,"Secondary education, general pupils"
75,76,"Secondary education, general pupils"
76,77,"Secondary education, pupils"
77,78,"Secondary education, pupils"
78,79,"Secondary education, duration"
79,80,"Educational attainment, at least completed upper secondary, population 25+, total"
80,81,"Educational attainment, at least completed upper secondary, population 25+, male"
81,82,"Educational attainment, at least completed upper secondary, population 25+, female"
82,83,"Educational attainment, at least completed post-secondary, population 25+, total"
83,84,"Educational attainment, at least completed post-secondary, population 25+, male"
84,85,"Educational attainment, at least completed post-secondary, population 25+, female"
85,86,"Educational attainment, at least completed lower secondary, population 25+, total"
86,87,"Educational attainment, at least completed lower secondary, population 25+, male"
87,88,"Educational attainment, at least completed lower secondary, population 25+, female"
88,89,"Lower secondary completion rate, total"
89,90,"Lower secondary completion rate, male"
90,91,"Lower secondary completion rate, female"
91,92,Lower secondary school starting age
92,93,Children out of school
93,94,"Children out of school, male"
94,95,"Children out of school, primary, male"
95,96,"Children out of school, female"
96,97,"Children out of school, primary, female"
97,98,"Children out of school, primary"
98,99,"Adjusted net enrollment rate, primary, male"
99,100,"Adjusted net enrollment rate, primary, female"
100,101,"Adjusted net enrollment rate, primary"
101,102,"Primary education, teachers"
102,103,"Primary education, teachers"
103,104,Trained teachers in primary education
104,105,"Trained teachers in primary education, male"
105,106,"Trained teachers in primary education, female"
106,107,"Repeaters, primary, total"
107,108,"Repeaters, primary, male"
108,109,"Repeaters, primary, female"
109,110,"Persistence to last grade of primary, total"
110,111,"Persistence to last grade of primary, male"
111,112,"Persistence to last grade of primary, female"
112,113,"Persistence to grade 5, total"
113,114,"Persistence to grade 5, male"
114,115,"Persistence to grade 5, female"
115,116,"School enrollment, primary, private"
116,117,"Over-age students, primary"
117,118,"Over-age students, primary, male"
118,119,"Over-age students, primary, female"
119,120,Net intake rate in grade 1
120,121,"Net intake rate in grade 1, male"
121,122,"Net intake rate in grade 1, female"
122,123,"School enrollment, primary, male"
123,124,"School enrollment, primary, female"
124,125,"School enrollment, primary"
125,126,"Gross intake ratio in first grade of primary education, total"
126,127,"Gross intake ratio in first grade of primary education, male"
127,128,"Gross intake ratio in first grade of primary education, female"
128,129,"School enrollment, primary, male"
129,130,"School enrollment, primary, female"
130,131,"School enrollment, primary"
131,132,"Pupil-teacher ratio, primary"
132,133,"Primary education, pupils"
133,134,"Primary education, pupils"
134,135,"Primary education, duration"
135,136,"Educational attainment, at least completed primary, population 25+ years, total"
136,137,"Educational attainment, at least completed primary, population 25+ years, male"
137,138,"Educational attainment, at least completed primary, population 25+ years, female"
138,139,"Primary completion rate, total"
139,140,"Primary completion rate, male"
140,141,"Primary completion rate, female"
141,142,Primary school starting age
142,143,Trained teachers in preprimary education
143,144,"Trained teachers in preprimary education, male"
144,145,"Trained teachers in preprimary education, female"
145,146,"School enrollment, preprimary, male"
146,147,"School enrollment, preprimary, female"
147,148,"School enrollment, preprimary"
148,149,"Pupil-teacher ratio, preprimary"
149,150,"Preprimary education, duration"
150,151,Learning poverty: Share of Male Children at the End-of-Primary age below minimum reading proficiency adjusted by Out-of-School Children
151,152,Learning poverty: Share of Female Children at the End-of-Primary age below minimum reading proficiency adjusted by Out-of-School Children
152,153,"School enrollment, tertiary, gender parity index"
153,154,"School enrollment, secondary, gender parity index"
154,155,"School enrollment, primary and secondary, gender parity index"
155,156,"School enrollment, primary, gender parity index"
156,157,"Compulsory education, duration"
157,158,"Literacy rate, adult total"
158,159,"Literacy rate, adult male"
159,160,"Literacy rate, adult female"
160,161,"Literacy rate, youth total"
161,162,"Literacy rate, youth male"
162,163,"Literacy rate, youth, gender parity index"
163,164,"Literacy rate, youth female"

CSV file 'consulta_data_with_id.csv' created successfully.

## CSV ranking duracion de educacion primaria 2023

In [ ]:
# Filter data for the year 2023 and the specific indicator
primary_education_2023 = df[(df['Indicator Code'] == 'SE.PRM.DURS') & (df['2023'].notna())]

# Select relevant columns and sort by duration for ranking
primary_education_ranking = primary_education_2023[['Country Name', '2023']].sort_values(by='2023', ascending=False).reset_index(drop=True)

# Add an incremental ID
primary_education_ranking['Ranking'] = primary_education_ranking.index + 1

# Rename the duration column for clarity
primary_education_ranking = primary_education_ranking.rename(columns={'2023': 'Duration (Years)'})

# Reorder columns
primary_education_ranking = primary_education_ranking[['Ranking', 'Country Name', 'Duration (Years)']]

# Save to CSV
primary_education_ranking.to_csv('primary_education_duration_ranking_2023.csv', index=False)

display(primary_education_ranking)

,Ranking,Country Name,Duration (Years)
0,1,Guam,8.0
1,2,Ireland,8.0
2,3,Australia,7.0
3,4,Dominica,7.0
4,5,Denmark,7.0
5,6,Antigua and Barbuda,7.0
6,7,Bhutan,7.0
7,8,Grenada,7.0
8,9,Iceland,7.0
9,10,St. Lucia,7.0
10,11,St. Kitts and Nevis,7.0
11,12,Botswana,7.0
12,13,Mozambique,7.0
13,14,Maldives,7.0
14,15,Lesotho,7.0
15,16,British Virgin Islands,7.0
16,17,St. Vincent and the Grenadines,7.0
17,18,Eswatini,7.0
18,19,Zambia,7.0
19,20,South Africa,7.0
20,21,Trinidad and Tobago,7.0
21,22,Uganda,7.0
22,23,Tanzania,7.0
23,24,Namibia,7.0
24,25,Norway,7.0
25,26,Zimbabwe,7.0
26,27,Bolivia,6.0
27,28,Brunei Darussalam,6.0
28,29,Arab World,6.0
29,30,Argentina,6.0
30,31,Aruba,6.0
31,32,East Asia & Pacific,6.0
32,33,Early-demographic dividend,6.0
33,34,Cayman Islands,6.0
34,35,Cuba,6.0
35,36,Cyprus,6.0
36,37,East Asia & Pacific (excluding high income),6.0
37,38,Dominican Republic,6.0
38,39,Curacao,6.0
39,40,Costa Rica,6.0
40,41,Cabo Verde,6.0
41,42,"Congo, Dem. Rep.",6.0
42,43,"Congo, Rep.",6.0
43,44,China,6.0
44,45,Cote d'Ivoire,6.0
45,46,Guatemala,6.0
46,47,Greece,6.0
47,48,Spain,6.0
48,49,Euro area,6.0
49,50,Barbados,6.0
50,51,Bermuda,6.0
51,52,Belize,6.0
52,53,Bahrain,6.0
53,54,Cameroon,6.0
54,55,Comoros,6.0
55,56,Canada,6.0
56,57,Central African Republic,6.0
57,58,American Samoa,6.0
58,59,"Bahamas, The",6.0
59,60,Angola,6.0
60,61,Andorra,6.0
61,62,Africa Eastern and Southern,6.0
62,63,Africa Western and Central,6.0
63,64,Liberia,6.0
64,65,Libya,6.0
65,66,Lebanon,6.0
66,67,Jordan,6.0
67,68,Indonesia,6.0
68,69,IDA blend,6.0
69,70,Haiti,6.0
70,71,IBRD only,6.0
71,72,Jamaica,6.0
72,73,IDA only,6.0
73,74,Iraq,6.0
74,75,"Iran, Islamic Rep.",6.0
75,76,Israel,6.0
76,77,Kenya,6.0
77,78,IDA & IBRD total,6.0
78,79,IDA total,6.0
79,80,Latin America & Caribbean (excluding high income),6.0
80,81,Cambodia,6.0
81,82,Guyana,6.0
82,83,Ghana,6.0
83,84,"Gambia, The",6.0
84,85,Guinea-Bissau,6.0
85,86,Equatorial Guinea,6.0
86,87,Gibraltar,6.0
87,88,"Hong Kong SAR, China",6.0
88,89,Honduras,6.0
89,90,Heavily indebted poor countries (HIPC),6.0
90,91,High income,6.0
91,92,United Kingdom,6.0
92,93,Guinea,6.0
93,94,European Union,6.0
94,95,Fragile and conflict affected situations,6.0
95,96,Kiribati,6.0
96,97,Japan,6.0
97,98,"Korea, Rep.",6.0
98,99,Middle East & North Africa,6.0
99,100,Mali,6.0
100,101,Middle income,6.0
101,102,"Macao SAR, China",6.0
102,103,Morocco,6.0
103,104,Latin America & Caribbean,6.0
104,105,Netherlands,6.0
105,106,Nauru,6.0
106,107,Malta,6.0
107,108,Marshall Islands,6.0
108,109,Mauritania,6.0
109,110,Middle East & North Africa (excluding high income),6.0
110,111,Mauritius,6.0
111,112,Lower middle income,6.0
112,113,Low & middle income,6.0
113,114,Estonia,6.0
114,115,Ethiopia,6.0
115,116,"Micronesia, Fed. Sts.",6.0
116,117,Fiji,6.0
117,118,Finland,6.0
118,119,Georgia,6.0
119,120,"Egypt, Arab Rep.",6.0
120,121,Ecuador,6.0
121,122,Chile,6.0
122,123,Switzerland,6.0
123,124,Burkina Faso,6.0
124,125,Benin,6.0
125,126,Belgium,6.0
126,127,Burundi,6.0
127,128,World,6.0
128,129,Virgin Islands (U.S.),6.0
129,130,United States,6.0
130,131,Vanuatu,6.0
131,132,"Yemen, Rep.",6.0
132,133,"Venezuela, RB",6.0
133,134,Upper middle income,6.0
134,135,Uruguay,6.0
135,136,Tuvalu,6.0
136,137,Tunisia,6.0
137,138,Sub-Saharan Africa (IDA & IBRD countries),6.0
138,139,Thailand,6.0
139,140,Tonga,6.0
140,141,Latin America & the Caribbean (IDA & IBRD countries),6.0
141,142,Middle East & North Africa (IDA & IBRD countries),6.0
142,143,Timor-Leste,6.0
143,144,Samoa,6.0
144,145,South Sudan,6.0
145,146,Slovenia,6.0
146,147,Turks and Caicos Islands,6.0
147,148,Togo,6.0
148,149,East Asia & Pacific (IDA & IBRD countries),6.0
149,150,Sweden,6.0
150,151,Sint Maarten (Dutch part),6.0
151,152,Sub-Saharan Africa (excluding high income),6.0
152,153,Sao Tome and Principe,6.0
153,154,Sub-Saharan Africa,6.0
154,155,Suriname,6.0
155,156,Small states,6.0
156,157,Mexico,6.0
157,158,Low income,6.0
158,159,Least developed countries: UN classification,6.0
159,160,Qatar,6.0
160,161,Post-demographic dividend,6.0
161,162,Paraguay,6.0
162,163,Palau,6.0
163,164,Pre-demographic dividend,6.0
164,165,Papua New Guinea,6.0
165,166,Portugal,6.0
166,167,Puerto Rico,6.0
167,168,OECD members,6.0
168,169,Philippines,6.0
169,170,Peru,6.0
170,171,New Zealand,6.0
171,172,Panama,6.0
172,173,Syrian Arab Republic,6.0
173,174,Seychelles,6.0
174,175,Chad,6.0
175,176,Saudi Arabia,6.0
176,177,Sierra Leone,6.0
177,178,El Salvador,6.0
178,179,Singapore,6.0
179,180,Senegal,6.0
180,181,Sudan,6.0
181,182,Rwanda,6.0
182,183,Other small states,6.0
183,184,North America,6.0
184,185,Nicaragua,6.0
185,186,Nigeria,6.0
186,187,Niger,6.0
187,188,Malawi,6.0
188,189,Malaysia,6.0
189,190,Luxembourg,6.0
190,191,Latvia,6.0
191,192,Solomon Islands,6.0
192,193,Liechtenstein,5.0
193,194,Viet Nam,5.0
194,195,South Asia,5.0
195,196,Romania,5.0
196,197,South Asia (IDA & IBRD),5.0
197,198,Pakistan,5.0
198,199,"Korea, Dem. People's Rep.",5.0
199,200,North Macedonia,5.0
200,201,Myanmar,5.0
201,202,Late-demographic dividend,5.0
202,203,Madagascar,5.0
203,204,Montenegro,5.0
204,205,New Caledonia,5.0
205,206,Lao PDR,5.0
206,207,India,5.0
207,208,Europe & Central Asia,5.0
208,209,Colombia,5.0
209,210,Czechia,5.0
210,211,Djibouti,5.0
211,212,Algeria,5.0
212,213,Brazil,5.0
213,214,Bosnia and Herzegovina,5.0
214,215,Kuwait,5.0
215,216,Gabon,5.0
216,217,France,5.0
217,218,Eritrea,5.0
218,219,Albania,5.0
219,220,Bangladesh,5.0
220,221,Italy,5.0
221,222,Monaco,5.0
222,223,Sri Lanka,5.0
223,224,San Marino,5.0
224,225,Mongolia,5.0
225,226,Nepal,5.0
226,227,French Polynesia,5.0
227,228,Armenia,4.0
228,229,Kyrgyz Republic,4.0
229,230,Hungary,4.0
230,231,Croatia,4.0
231,232,Belarus,4.0
232,233,Bulgaria,4.0
233,234,Austria,4.0
234,235,Azerbaijan,4.0
235,236,Europe & Central Asia (excluding high income),4.0
236,237,Central Europe and the Baltics,4.0
237,238,Germany,4.0
238,239,United Arab Emirates,4.0
239,240,Kazakhstan,4.0
240,241,West Bank and Gaza,4.0
241,242,Oman,4.0
242,243,Lithuania,4.0
243,244,Moldova,4.0
244,245,Poland,4.0
245,246,Russian Federation,4.0
246,247,Somalia,4.0
247,248,Europe & Central Asia (IDA & IBRD countries),4.0
248,249,Slovak Republic,4.0
249,250,Serbia,4.0
250,251,Tajikistan,4.0
251,252,Ukraine,4.0
252,253,Turkiye,4.0
253,254,Turkmenistan,4.0
254,255,Uzbekistan,4.0